/* ==========================================================================
   NavBar
   ========================================================================== */
input[type="checkbox"]
{
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.check
{
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: black;
  curser:pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ .check
{
  background:#F8E9D7;
  box-shadow: 0 0 0 12000px black;
}
.check:before
{
  content: '';
  position: absolute;
  top:2px;
  left: 2px;
  background:#F8E9D7;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s
}
input[type="checkbox"]:checked ~ .check:before
{
  transform: translate(50px);
}

.check:after
{
  content: '';
  position: absolute;
  top:2px;
  right: 2px;
  background:black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s
}
input[type="checkbox"]:checked ~ .check:after
{
  transform: translate(0px);
}

input[type=text] {
  padding: 4px;
  border-radius: 5px;
  font-size: 15px;
  border:none;
  width:300px;
  font-weight: normal;
}

input:focus{
  outline:none;
}

.searchbar{
  padding: 2px;
  border-radius: 5px;
  border-color:rgba(138, 104, 12, 0.932);
  border-style:solid;
  border-width: thin; 
  width:auto;
  margin: 10px 0px 8px 400px;
  background:white;
  position: relative;
}

.switch {
  height:60px;
  background-color: rgba(42, 156, 38, 0.842);
  border-bottom-style: solid;
  border-bottom-color: rgba(28, 126, 25, 0.842);
  border-width: thin;
  box-shadow: 0 2px 4px rgb(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.fb-image-profile-thumbnail:hover {opacity: 90%}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin:10px 5px 0px 282px ;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-menu {display: block;}

.col-md-2 label {margin:18px 8px 0px 8px;}
.col-md-6 i {margin-right:5px; color:green;}
.col-md-4 img {height:50px; width:50px; margin:5px -18px 0px 0px; }
.top .row{width:1519.2px; height:60px;}


/* ==========================================================================
   Under Nav
   ========================================================================== */

.settingcon {margin-bottom:40px; margin-top:20px;}
.container{background-color:white; border-radius:4px; padding:0px 0px 0px 0px;}
.container .col-md-2{width:150px;}
.side{padding:10px 10px 0px 25px;}
.side h2{font-size: 17px;font-weight: bold; }
.side h1{font-size: 21px;font-weight: bold; color:black;}

p1{font-size:15px; font-weight:thin; color:black;} /
p2{font-size:12px;}

.side a {
  color:black;
  text-decoration:none;
}

.side a:hover{color:#444444;}

.emailinfo {margin: 40px 0px 40px 0px}





/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
  font-family: 'Open Sans', sans-serif;
   background-color: #F8E9D7;
   margin: 0;
   padding:0;
}






